<div class="flex items-center justify-center min-h-96 bg-gray-100">
  <div class="text-center">
    <mat-icon class="text-purple-700">error_outline</mat-icon>
    <h1 class="text-4xl font-bold text-gray-800 mt-4">404</h1>
    <p class="text-lg text-gray-600 mt-2">Página no encontrada</p>
    <button
      class="px-5 py-2 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 transition"
      routerLink="/shop"
    >
      Volver a la página principal
    </button>
  </div>
</div>
