<header class="border border-gray-300 shadow-sm">
  <nav class="flex flex-wrap items-center justify-between py-2 bg-white">
    <a routerLink="/">
      <img src="/images/logo.png" alt="app logo" class="max-h-10 px-2" />
    </a>
    <div class="flex md:hidden">
      <button (click)="toggleMenu()">
        @if(!isMenuOpen){
        <mat-icon>menu</mat-icon>
        }@else{
        <mat-icon>close</mat-icon>
        }
      </button>
    </div>

    <div
      [class]="{ hidden: !isMenuOpen, block: isMenuOpen, 'md:flex': true }"
      class="w-full md:w-auto text-right font-bold uppercase mt-5 md:mt-0"
    >
      <a
        routerLink="/"
        routerLinkActive="text-blue-500"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block md:inline-block hover:text-blue-500 px-2 py-1"
        >Principal</a
      >
      <a
        routerLink="/shop"
        routerLinkActive="text-blue-500"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block md:inline-block hover:text-blue-500 px-2 py-1"
        >Tienda</a
      >
      <a class="block md:inline-block hover:text-blue-500 px-2 py-1"
        >Contacto</a
      >
    </div>
    <div
      [class]="{
        hidden: !isMenuOpen,
        block: isMenuOpen,
        'md:flex': true,
        'md:w-auto': true
      }"
      class="flex w-full px-2 py-1"
    >
      <div class="flex md:items-center gap-2">
        <a
          routerLink="/cart"
          routerLinkActive="text-blue-500"
          matBadge="{{ cartService.itemCount() }}"
          matBadgeSize="large"
          class="mt-1"
        >
          <mat-icon>shopping_cart</mat-icon>
        </a>
        <a
          class="flex items-center rounded-md bg-blue-500 text-white font-medium px-2 py-1 hover:bg-blue-700 transition"
        >
          Iniciar sesión
        </a>
        <a
          class="flex items-center rounded-md bg-blue-500 text-white font-medium px-2 py-1 hover:bg-blue-700 transition"
        >
          Registrarse
        </a>
      </div>
    </div>
  </nav>
</header>

@if(busyService.loading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
