@if(product){
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col md:flex-row -mx-4">
    <div class="md:flex-1 px-4">
      <div class="relative overflow-hidden">
        <div class="flex justify-center">
          <img
            class="w-auto h-[250px] object-fill"
            src="{{ product.pictureUrl }}"
            alt="{{ product.name }}"
          />
        </div>
        <div class="absolute inset-0 bg-black opacity-10"></div>
      </div>
    </div>

    <div class="md:flex-1 px-4">
      <h1 class="text-2xl font-semibold text-gray-900">{{ product.name }}</h1>
      <p>Tienes {{ quantityInCart }} de este artículo en tu carrito</p>
      <p class="text-gray-600 text-sm my-4">
        {{ product.description }}
      </p>
      <div class="mb-4">
        <span class="font-bold text-gray-700 mr-2">Precio:</span>
        <span class="text-gray-600">{{ product.price | currency }}</span>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <div class="w-full">
          <input
            type="number"
            placeholder="Cantidad"
            min="0"
            class="border py-2 px-2 rounded-lg w-full"
            [(ngModel)]="quantity"
            name="quantity"
          />
        </div>
        <div class="w-full">
          <button
            class="w-full flex items-center justify-center gap-2 text-sm font-semibold text-white bg-blue-600 rounded-lg px-2 py-2 shadow-md hover:bg-blue-700 transition focus:ring-2 focus:ring-blue-500 focus:outline-none disabled:bg-blue-300"
            (click)="updateCart()"
            [disabled]="quantity === quantityInCart"
          >
            <mat-icon>shopping_cart</mat-icon>
            {{ getButtonText() }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

}
